# Global exclusions for BarberWeb

# Exclude all necessary files and directories for the BarberBackend project

HELP.md
/barberbackend/barber/.gradle
/barberbackend/barber/build/
!/barberbackend/barber/gradle/wrapper/gradle-wrapper.jar
!/barberbackend/barber/**/src/main/**/build/
/barberbackend/barber/**/src/test/**/build/

### STS ###
/barberbackend/barber/.apt_generated
/barberbackend/barber/.classpath
/barberbackend/barber/.factorypath
/barberbackend/barber/.project
/barberbackend/barber/.settings
/barberbackend/barber/.springBeans
/barberbackend/barber/.sts4-cache
/barberbackend/barber/bin/
!/barberbackend/barber/**/src/main/**/bin/
!/barberbackend/barber/**/src/test/**/bin/

### IntelliJ IDEA ###
/barberbackend/barber/.idea
/barberbackend/barber/*.iws
/barberbackend/barber/*.iml
/barberbackend/barber/*.ipr
/barberbackend/barber/out/
!/barberbackend/barber/**/src/main/**/out/
!/barberbackend/barber/**/src/test/**/out/

### NetBeans ###
/barberbackend/barber/nbproject/private/
/barberbackend/barber/nbbuild/
/barberbackend/barber/dist/
/barberbackend/barber/nbdist/
/barberbackend/barber/.nb-gradle/

### VS Code ###
/barberbackend/barber/.vscode/

# Additional global exclusions for BarberWeb can be added here

### Global exclusions for BarberWeb
### Exclude all necessary files and directories for the BarberBackend project

### Exclude all necessary files and directories for the BarberFrontend project
logs
/barberfrontend/barber/.log
/barberfrontend/barber/npm-debug.log
/barberfrontend/barber/yarn-debug.log*
/barberfrontend/barber/yarn-error.log*
/barberfrontend/barber/pnpm-debug.log*
/barberfrontend/barber/lerna-debug.log*

/barberfrontend/barber/node_modules
/barberfrontend/barber/dist
/barberfrontend/barber/dist-ssr
/barberfrontend/barber/.local

### Editor directories and files
/barberfrontend/barber/.vscode/
/barberfrontend/barber/.vscode/extensions.json
/barberfrontend/barber/.idea
/barberfrontend/barber/.DS_Store
/barberfrontend/barber/.suo
/barberfrontend/barber/.ntvs
/barberfrontend/barber/.njsproj
/barberfrontend/barber/.sln
/barberfrontend/barber/.sw?
.vscode/launch.json
