.css-1je49cu-MuiTypography-root {
    color: red !important;
}
 
 .css-mk1z4a-MuiButtonBase-root-MuiListItemButton-root.Mui-selected {
    background-color: #ff000022 !important;
  }
  
  
.css-mk1z4a-MuiButtonBase-root-MuiListItemButton-root.Mui-selected:hover {
    background-color: #ff000022 !important;
  }

.css-mk1z4a-MuiButtonBase-root-MuiListItemButton-root.Mui-selected .MuiSvgIcon-root {
    color: #ff000022 !important;
   }

.css-1ie2bpi-MuiButtonBase-root-MuiIconButton-root{
color: red !important;
}


.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium.css-1ie2bpi-MuiButtonBase-root-MuiIconButton-root {
  display: none;  /* Oculta el botón */
}